<!DOCTYPE html>
<html ng-app="DropdownApp">

<head>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <link rel="stylesheet" href="style.css"/>
    <script src="script.js"></script>
    <script src="app.js"></script>
</head>

<body>

<h1>Тестовое задание</h1>

<h4>Использование компонента, без ng-repeat</h4>
<div ng-controller="ExampleController1">
    <dropdown width="200px">
        <item-group title="Седаны">
            <item value="1">Mazda 6</item>
            <item value="2">Bmw 328i</item>
            <item value="3">Mercedes C</item>
            <item value="4">Audi A4</item>
        </item-group>
        <item-group title="Кроссоверы">
            <item value="5">Mazda CX-5</item>
            <item value="6">Bmw X5</item>
            <item value="7">Mercedes ML</item>
            <item value="8">Audi Q7</item>
        </item-group>
    </dropdown>
</div>
<hr/>
<h4>Использование компонента, без ng-repeat и без групп</h4>
<div ng-controller="ExampleController2">
    <dropdown width="200px">
        <item value="1">Mazda 6</item>
        <item value="2">Bmw 328i</item>
        <item value="3">Mercedes C</item>
        <item value="4">Audi A4</item>
        <item value="5">Mazda CX-5</item>
        <item value="6">Bmw X5</item>
        <item value="7">Mercedes ML</item>
        <item value="8">Audi Q7</item>
    </dropdown>
</div>
<hr/>
<h4>Использование компонента с фиксированной высотой выпадающего списка</h4>
<div ng-controller="ExampleController3">
    <dropdown width="200px" max-height="100">
        <item-group title="Седаны">
            <item value="1">Mazda 6</item>
            <item value="2">Bmw 328i</item>
            <item value="3">Mercedes C</item>
            <item value="4">Audi A4</item>
        </item-group>
        <item-group title="Кроссоверы">
            <item value="5">Mazda CX-5</item>
            <item value="6">Bmw X5</item>
            <item value="7">Mercedes ML</item>
            <item value="8">Audi Q7</item>
        </item-group>
    </dropdown>
</div>
<hr/>
<h4>Использование компонента c ng-repeat</h4>
<p>Значение выбранное в компоненте сохраняется в переменную $scope.selectedCar контроллера ExampleController4</p>
<p>При выборе элемента если значение контрола изменилось вызывается событие on-change компонента</p>

<div ng-controller="ExampleController4">
    <div class="form-group">
        <dropdown ng-model="selectedCar" on-change="onChangeEvent" width="200" >
            <item-group
                    ng-repeat="carsGroup in cars"
                    title="{{carsGroup.title}}">
                <item ng-repeat="car in carsGroup.list"
                      value="{{car.id}}"
                      ng-bind="car.title">
                </item>
            </item-group>
        </dropdown>
    </div>
    <p>Нажав на эту кнопку, можно добавить элементов в список машин</p>
    <div class="form-group">
        <button class="btn btn-default" ng-click="changeList()">
            Добавить
        </button>
    </div>
    <p>
        Выбрана машина под номером: {{selectedCar}}
    </p>
    <p>Сколько раз изменилось значение компонента: {{changeTimes}}</p>
</div>

</body>

</html>
